---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { getLocale } from 'i18n:astro'
import { useTranslations } from '../i18n/utils'

const locale = getLocale()
const t = useTranslations(locale)
---

<DefaultLayout title="Home">
  <section>
    <div class="container">
      {t('nav.start')}
      {locale}
    </div>
  </section>
</DefaultLayout>
