---
import { getEntry, getCollection } from 'astro:content'
import { getLocale } from 'i18n:astro'
import { useTranslations } from '../../i18n/utils'

const locale = getLocale()
const t = useTranslations(locale)

const game = await getEntry('common', 'game')
const { topics } = game.data
const maxReachedLevel = 1
const levels = [{ name: '1' }, { name: '2' }, { name: '3' }]
/* const categoriesCollection = await getCollection('common') */
/* const categories = categoriesCollection.map((c) => c.name) */
/* const categories = ['asasd', 'qqq'] */
---

<section class="body-font text-gray-600">
  <div class="container mx-auto flex flex-col px-5 py-24">
    {
    levels.map((level, index) => {
    const cls = `{
      'bg-gray-200': $store.game.playerMaxReachedLevel < ${index+1},
      'bg-fuchsia-400': $store.game.playerMaxReachedLevel >= ${index+1},
    }`;
    const click = `$store.game.currentLevel = ${index+1}`;

    return (
        <div class="relative mx-auto flex pb-20 pt-10 sm:items-center md:w-2/3">
          <div class="absolute inset-0 flex h-full w-12 items-center justify-center">
            <div class="pointer-events-none h-full w-1 bg-gray-200" />
          </div>
          <div class="title-font relative z-10 mt-10 inline-flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full font-medium text-white sm:mt-0"
               :class={cls}
               x-on:click={click}>
            {level.name}
          </div>
        </div>
      )
      })
    }
  </div>
</section>
