---
---

<ul class="mx-auto my-[10vh] min-w-[320px] max-w-[340px]">
  <li class="text-l float-left m-2.5 h-10 w-10 rounded-xl bg-red-500 text-center leading-10 text-white"></li>
  <li class="text-l float-left m-2.5 h-10 w-10 rounded-xl bg-red-500 text-center leading-10 text-white"></li>
  <li class="text-l float-left m-2.5 h-10 w-10 rounded-xl bg-red-500 text-center leading-10 text-white"></li>
  <li class="text-l float-left m-2.5 h-10 w-10 rounded-xl bg-red-500 text-center leading-10 text-white"></li>
  <li class="text-l float-left m-2.5 h-10 w-10 rounded-xl bg-red-500 text-center leading-10 text-white"></li>
  <li class="text-l float-left m-2.5 h-10 w-10 rounded-xl bg-red-500 text-center leading-10 text-white"></li>
  <li class="text-l float-left m-2.5 h-10 w-10 rounded-xl bg-red-500 text-center leading-10 text-white"></li>
  <li class="text-l float-left m-2.5 h-10 w-10 rounded-xl bg-red-500 text-center leading-10 text-white"></li>
  <li class="text-l float-left m-2.5 h-10 w-10 rounded-xl bg-red-500 text-center leading-10 text-white"></li>
  <li class="text-l float-left m-2.5 h-10 w-10 rounded-xl bg-red-500 text-center leading-10 text-white"></li>
  <li class="text-l float-left m-2.5 h-10 w-10 rounded-xl bg-red-500 text-center leading-10 text-white"></li>
</ul>
