---
---

<div class="text-l float-left m-2.5 rounded-xl p-4 text-center leading-10" x-data="question">
  <h1 x-text="title"></h1>
  <ul>
    <template x-for="(answer, index) in answers">
      <li>
        <button @click=`$store.game.setAnswer(question, answer)`>
          <span x-text="answer.title"></span>
        </button>
      </li>
    </template>
  </ul>
  <div
    class="fixed bottom-0 right-0 flex w-full justify-center border-t-4 border-fuchsia-300 bg-white bg-opacity-100 p-2"
    x-show=`$store.game.getAnswer(question.id)`
  >
    <button @click=`$store.game.currentQuestion = null;` class="btn btn-secondary">NEXT</button>
  </div>
</div>
