---
import { languages } from '../i18n/ui'
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(lang)
const currentPath = Astro.url.pathname
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={translatePath(currentPath, lang)}>{label}</a>
      </li>
    ))
  }
</ul>
